:root {
  --text: #010101;
  --link: var(--text);
  --link-visited: #3d3d3d;
  --background-color: #f7f7f7;
  --btn-background: #e8e8e8;
  --post-bg: white;
  --font-family: "-apple-system",BlinkMacSystemFont,"helvetica neue",Helvetica,Arial,sans-serif;
  --font-family-serif: Georgia, "Times New Roman", "Palatino Linotype" "Book Antiqua", "Garamond", serif;
  --font-family-mono: "JetBrains Mono", "Fira Code", "Consolas", "Liberation Mono", "Menlo", "Courier New", monospace;
  --spacing: 1.5rem;
  --border-color: #4f4f4f;
  --box-shadow-color: rgba(145,106,112,0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c6c6c6;
    --link: var(--text);
    --link-visited: #9f9f9f;
    --background-color: #0f0f0f;
    --btn-background: #0f0f0f;
    --post-bg: #1e1e1e;
    --border-color: #4f4f4f;
    --box-shadow-color: transparent;
  }
}

/* Set a solid baseline for styles with Andy Bell's modern CSS reset - https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

a {
  color: var(--text);
}

a:not([class]):link, a:not([class]):active, a:not([class]):hover, a:not([class]):visited {
  color: var(--text);
  text-decoration-line: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--text);
}

a:not([class]):visited{
  color: var(--link-visited);
}

a:not([class]):hover {
  text-decoration-thickness: 0.10rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text);
  padding: var(--spacing);
  font-family: var(--font-family);
}

p,
ul,
ol,
dl,
blockquote {
  margin-bottom: var(--spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: calc(var(--spacing) / 2); /* Slightly smaller margin for tighter heading spacing */
  font-family: var(--font-family);
}

.blog-container {
  display: grid;
    grid-template-areas:
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}

.blog-intro {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: grid;
  grid-template-areas:
      "sidebar posts";
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  grid-area: content;
  align-items: flex-start;
}

.card {
  grid-area: posts;
  margin-top: 4rem;
}

.sidebar {
  grid-area: sidebar;
  font-family: var(--font-family-mono);
  margin-top: 1rem;
  font-size: 14px;
}

.footer {
  text-align: center;
  grid-area: footer;
  border-top: 1px dashed var(--text);
  padding: 30px;
  font-family: var(--font-family-mono);
  font-size: 14px;
  border-color: var(--border-color);
}

.profile-photo.u-photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 330px;
  width: 160px;
  padding: 10px;
  background: var(--background-color);
}

input {
  color: var(--text);
  border: 1px solid #d2d2d2;
  padding: 10px 30px;
  border-radius: 30px;
  opacity: 0.8;
}

.read-more {
  display: flex;
  justify-content: flex-end;
}

.read-more a {
  text-decoration: none !important;
}

.read-more a, button, input[type="submit"] {
  text-decoration: none;
  color: var(--text);
  border: 1px solid #d2d2d2;
  padding: 10px 30px;
  border-radius: 30px;
  opacity: 0.8;
  cursor: pointer;
  background-color: var(--btn-background);
}

.read-more a:hover, button:hover, input[type="submit"]:hover {
  opacity: 1;
}

.read-more a:visited {
  color: var(--text);
}

.sidebar-partial form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-partial form input {
  width: 100%;
  max-width: 100%;
}

/* Sidebar */

.sidebar, main .post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-partial {
  border-bottom: 1px dashed;
  padding-bottom: 2rem;
  border-color: var(--border-color);
}

div.sidebar-partial:last-of-type, div.post-preview:last-of-type {
  border: none;
  padding-bottom: 0;
}

.single {
  background: var(--post-bg);
  box-shadow: var(--box-shadow-color) 0 6px 24px;
}

.e-content {
  font-family: var(--font-family-serif);
}

.e-content p:last-child, .sidebar-partial p:last-child {
  margin-bottom: 0;
}

.sidebar-partial h3 {
  margin-top: 0;
}

.sidebar-partial .archive-categories a {
  text-decoration: none !important;
}

/* Post list */
.post-title.p-name a, .post-date.u-url {
  text-decoration: none;
}

.post-date.u-url {
  color: var(--text);
  font-family: var(--font-family-mono);
  font-size: 14px;
}

a.post-date:hover::after {
  content: " 🔗";
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #ddd;
  line-height: 140%;
  padding: 12px 0;
}

.sidebar ul li a {
  text-decoration: none;
}

.microblog_reply_textarea textarea {
  width: 100%;
  max-width: 100%;
}

.single .post-header {
  padding: 20px 30px 0px 30px;
}

.post-title {
  margin-bottom: 0;
}

.single .e-content {
  padding: 20px 30px;
}

.microblog_conversation {
  margin-top: 2rem;
}

.post .post-header-meta {
  padding-bottom: 0;
}

.post-card, .post-nav, .microblog_conversation {
  padding: 20px 30px;
  background: var(--post-bg);
  box-shadow: var(--box-shadow-color) 0 6px 24px;
}

.post-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.microblog_conversation {
  margin-top: 2rem;
}

.microblog_conversation::before {
  content: 'Replies';
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  padding-bottom: 1rem;
  display: block;
}
.microblog_post {
  margin-bottom: 2rem;
}

.microblog_user {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
}

.microblog_time a {
  text-decoration: none !important;
  font-family: var(--font-family-mono);
  font-size: 14px;
}

.microblog_avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 40px !important;
}

.microblog_fullname {
  font-weight: 600;
}

.post-cover {
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.site-title {
  margin-top: 3rem;
}

.site-title a {
  text-decoration: none !important;
}

input:disabled, textarea:disabled {
  background-color: #f0f0f0;
  color: #999;
  border: 1px solid #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 768px) {

  body {
    padding: 0;
  }
  .main-content {
      grid-template-areas:
          "posts"
          "sidebar";
      grid-template-columns: 1fr;
      padding: 0px 20px;
  }
  .blog-container {
    padding: 20px 0;
  }
  .card {
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .footer {
    padding: 20px 0px;
  }

  .blog-intro {
    margin-bottom: 1rem;
    text-align: center;
  }
  .nav a {
      display: block;
      margin: 5px 0;
  }
}

@media (max-width: 480px) {

  .card .post h2 {
      font-size: 20px;
  }
}
