:root {
  --text: #010101;
  --link: rgb(0, 116, 179);
  --link-visited: rgb(4, 72, 108);
  --background-color: white;
  --font-family: "-apple-system",BlinkMacSystemFont,"helvetica neue",Helvetica,Arial,sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fafafa;
    --link: rgb(0, 116, 179);
    --link-visited: rgb(4, 72, 108);
    --background-color: black;
  }
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text);
}

.container {
  max-width: 80em;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1 a {
  text-decoration: none;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}

.content-area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10em;
  max-width: 80em;
  margin: 20px auto;
}

.site-header, .content-area, .site-footer {
  padding: 20px;
}

footer {
  padding: 10px 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.profile-photo.u-photo {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  max-width: 110px;
  height: auto;
}

/* Sidebar */

.sidebar, main .post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-partial, .post-preview.h-entry {
  border-bottom: 1px dashed;
  padding-bottom: 2rem;
}

div.sidebar-partial:last-of-type, div.post-list .post-preview:last-of-type {
  border: none;
  padding-bottom: 0;
}

.sidebar-partial h3 {
  margin-top: 0;
}

/* Post list */
.post-title.p-name a, .post-date.u-url {
  text-decoration: none;
}

.post-date.u-url {
  color: var(--text);
}