<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head.html" . }}
  <body>
    <div class="blog-container">
      {{ partial "header.html" . }}
      <div class="main-content">
        <main class="card">
          {{ block "main" . }}{{ end }}
        </main>
        {{ partial "sidebar.html" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
    {{ end }}
  </body>

</html>