<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head.html" . }}
  {{ if .File }}
  {{ $slug := .File.BaseFileName }}
  {{ $cover := index .Site.Data.covers $slug }}
  {{ end }}
  <body>
    <div class="post-cover"
        style="background-image: url('{{ if and .File (index .Site.Data.covers (.File.BaseFileName)).image }}{{ (index .Site.Data.covers (.File.BaseFileName)).image }}{{ else }}{{ "default-cover.jpg" | relURL }}{{ end }}');">
    </div>
    <div class="blog-container">
      <div class="main-content">
        {{ partial "sidebar.html" . }}
        <main class="card">
          {{ block "main" . }}{{ end }}
        </main>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
    {{ end }}
  </body>

</html>