{{ define "main" }}
{{$pages := where .Site.Pages "Type" "post" }}
  {{ range $pages.GroupByDate "2006" }}
        <div class="group">
            <h2 class="key">
                {{ .Key }}
            </h2>
            <div class="p-content">
            {{ range .Pages.GroupByDate "January" }}
               <h3 class="key">
                {{ .Key }}
                </h3>
             {{ range .Pages }}
							<p class="h-entry">
								<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "Jan 2, 2006" }}</span></a>:
								{{ if .Title }}
								<span class="p-name"><b>{{ .Title }}</b></span>
								{{ end }}
								<span class="p-summary">{{ .Summary | truncate 150 }}</span>
							</p>
            {{ end }}
            </div>
   {{ end }}
{{ end }}
{{ end }}