{{ define "main" }}
  {{$pages := where .Site.Pages "Type" "post" }}
  <div class="p-content">
    {{ range $pages.GroupByDate "2006" }}
      <div class="group">
        <h2 class="key">{{ .Key }}</h2>

        {{ range .Pages.GroupByDate "January" }}
          <div class="sub-group">
            <h3 class="key">{{ .Key }}</h3>

            {{ range .Pages }}
              <p class="h-entry">
                <a href="{{ .Permalink }}" class="u-url">
                  <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </a>:
                {{ if .Title }}
                  <span class="p-name"><b>{{ .Title }}</b></span>
                {{ end }}
                <span class="p-summary">{{ .Summary | truncate 150 }}</span>
              </p>
            {{ end }} <!-- End of individual post loop -->

          </div> <!-- End of sub-group -->
        {{ end }} <!-- End of January grouping -->

      </div> <!-- End of yearly group -->
    {{ end }} <!-- End of main loop -->
  </div>
{{ end }}
