{{ define "main" }}
{{ $slug := .File.BaseFileName }}
{{ $cover := index .Site.Data.covers $slug }}
  {{$pages := where .Site.Pages "Type" "post" }}
  {{ if $cover }}
    <img src="{{ $cover.image }}" alt="alt="Post cover for {{ if .Title }}{{ .Title }}{{ else }}{{ .Date.Format "January 2, 2006" }}{{ end }}"">
  {{ end }}
  <div class="post-card">
    <div class="p-content">
    {{ range $pages.GroupByDate "2006" }}
      <div class="year">
        <h2>{{ .Key }}</h2>

        {{ range .Pages.GroupByDate "January" }}
          <div class="month">
            <h3>{{ .Key }}</h3>

            {{ range .Pages }}
              <p class="h-entry">
                <a href="{{ .Permalink }}" class="u-url">
                  <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </a>:
                {{ if .Title }}
                  <span class="p-name"><b>{{ .Title }}</b></span>
                {{ end }}
                <span class="p-summary">{{ .Summary | truncate 150 }}</span>
              </p>
            {{ end }}

          </div>
        {{ end }}

      </div>
    {{ end }}
  </div>
</div>
{{ end }}
