<header class="header">
  <div class="blog-intro">
    <h1>
      <a class="site-title p-name u-url" href="/">
        {{ if or .Site.Params.blogTitle }}
        {{ .Site.Params.blogTitle }}
        {{ else }}
        {{ .Site.Title}}
        {{ end }}
      </a>
    </h1>
    {{ if .Site.Params.blogDescription }}
    <span class="blog-description">
      {{ .Site.Params.blogDescription }}
    </span>
    {{ end }}
  </div>
  <nav>
    <ul>
      {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect_url }}
          <li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
        {{ else }}
        <li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>