<aside class="sidebar">
  <div class="sidebar-partial">
    {{ if templates.Exists "partials/microhook-sidebar-bio.html" }}
      {{ partial "microhook-sidebar-bio.html" . }}
    {{ else }}
    <p class="description">
      {{ .Site.Params.itunes_description | safeHTML }}
      <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="80" height="80">
    </p>
    {{ end }}
  </div>
  <div class="sidebar-partial">
    {{ if .Site.Params.newsletters_enabled }}
      <span>Subscribe to the email newsletter for this blog.</span>

      <form method="POST" action="https://micro.blog/users/subscribe/65934">
        <input type="text" name="email" size="30" placeholder="Your email address" />
        <input type="submit" value="Subscribe" />
      </form>
      <p>Alternatively, you can also subscribe to this blog <a href="{{ .Site.RSSLink }}">via RSS feed</a>.</p>
    {{ else }}
      <span>Subscribe to this blog <a href="{{ .Site.RSSLink }}">via RSS feed</a>.</span>
    {{ end }}
  </div>
  <div class="sidebar-partial">
    {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    {{ if gt (len $list) 0 }}
    <div class="archive-categories">
      <h3>Categories</h3>
      <ul>
        {{ range $list }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          ({{ len (where $.Site.Pages "Params.categories" "in" .Title) }})
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</aside>