<aside class="sidebar">
  <div class="sidebar-partial">
    {{ if templates.Exists "partials/microhooks/sidebar-bio.html" }}
      {{ partial "sidebar-bio.html" . }}
    {{ else }}
    <p class="description">
      {{ .Site.Params.itunes_description | safeHTML }}
      <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="80" height="80">
    </p>
    {{ end }}
  </div>
  <div class="sidebar-partial">
    {{ if templates.Exists "partials/microhooks/sidebar-subscribe.html" }}
      {{ partial "sidebar-bio.html" . }}
    {{ else }}
      {{ if .Site.Params.newslettersId }}
      <span>Subscribe to the email newsletter for this blog.</span>
      <form method="POST" action="https://micro.blog/users/subscribe/{{ .Site.Params.newsletterId }}">
        <input type="text" name="email" size="30" placeholder="Your email address" />
        <input type="submit" value="Subscribe" />
      </form>
      <p>Alternatively, you can also subscribe to this blog <a href="{{ .Site.RSSLink }}">via RSS feed</a>.</p>
      {{ else }}
        <span>Subscribe to this blog <a href="{{ .Site.RSSLink }}">via RSS feed</a>.</span>
      {{ end }}
    {{ end }}
  </div>
  <div class="sidebar-partial">
    {{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    {{ if gt (len $list) 0 }}
    <div class="archive-categories">
      <h3>Categories</h3>
      <ul>
        {{ range $list }}
        {{ $categoryName := .Title }}
        {{ $postCount := len (where $.Site.RegularPages "Params.categories" "intersect" (slice $categoryName)) }}
        {{ if gt $postCount 0 }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          ({{ $postCount }})
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</aside>